:root {
  --white-color-text:#fff;
  --black-color-text:#000;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media only screen and (min-width: 2800px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 2800px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 2200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black-color-text);
  letter-spacing: 0.1rem;
  font-weight: normal;
}

a:link,
a:visited {
  color: var(--black-color-text);
  text-decoration: none;
}

.svg {
  height: 2rem;
  fill: none;
  stroke: var(--black-color-text);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.15rem;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  line-height: 120%;
}
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 3.5rem;
  }
}

.label {
  font-size: 2.2rem;
  text-align: center;
  line-height: 120%;
}

.label--smaller {
  font-size: 1.6rem;
}

.text {
  line-height: 120%;
  font-size: 1.3rem;
}

.text--centred {
  font-size: 1.3rem;
  text-align: center;
}

.map {
  display: grid;
  grid-template-columns: repeat(100 1fr);
  grid-template-rows: repeat(100 1fr);
}

.map {
  width: 100px;
  height: 100px;
}

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.wrapper__background {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper__starter {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 3rem;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

.heading--primary {
  font-size: 11rem;
  font-weight: 900;
}

.button {
  color: wheat;
  border-radius: 1rem;
  padding: 2rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.4rem black solid;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
