.wrapper{
  //background-image:url(../img/field.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  
}

.wrapper__background{
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.wrapper__starter{
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 3rem;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

.heading--primary{
  font-size: 11rem;
  font-weight: 900;
}

.button{
  color: wheat;
  border-radius: 1rem;
  padding: 2rem;
  width: auto;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border: 0.4rem black solid;
  cursor: pointer;
}